		<div class="well span12">
			<div class="row">
				<img id="hand" class="span6" src="/grasshand.png"> <span id="appeal" class="span5 offset1"></span>
				<h1>
					<span id="appeal2" class="span5 offset1">Grass.</span>
				</h1>
				<h1>
					<span id="appeal3" class="span5 offset1">Hand Cut.</span>
				</h1>
				<h1>
					<span id="appeal4" class="span5 offset1">With Scissors.</span>
				</h1>
			</div>
			<div id="border">
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="row">
				<div id="prices">
					<div class="cols-3" id="pricebox">

						<div class="pricing_box radius-right"><div class="header"><span>Scissors</span></div>

						<ul>
							<li class="even"><strong class="yes">Hand Cut Grass</strong></li>
							<li class="odd"><strong class="yes">Luxury</strong></li>
						</ul>
						<p><h3 style="color: black;">$300</h3><p class="button signup"><a href="/#contact">Contact</a></p>
					</div>


					<div class="pricing_box large radius-left">
						<div class="header"><span>Both</span></div>
						<ul>
							<li class="even"><strong class="yes">You can have your cake, and eat it too</strong></li>
							<li class="odd"><strong class="yes">Even More Luxury</strong></li>
						</ul>
						<p><h3 style="color: black;">$400</h3><p class="button signup"><a href="/#contact">Contact</a></p></div>

						<div class="pricing_box radius-right"><div class="header"><span>Weeds</span></div>
						<ul>
							<li class="even"><strong class="yes">Hand Plucked</strong></li>
							<li class="odd"><strong class="yes">Luxury</strong></li>
						</ul>
						<p><h3 style="color: black;">$150</h3><p class="button signup"><a href="/#contact">Contact</a></p>


					</div>

				</div>


		</div>
	</div>
</div>
