#border {
	background-image: url('/hexabump.png') !important;
	background-repeat: repeat-x !important;
	margin-left: -19px;
	width: 104%;
}
#appeal{
margin-top: 100px;
}

#prices{
	 margin-left: 30px;
	height: 500px;
}
#pricebox {
	margin-top: 65px;
}

body{
	background-image: url('/grass.jpg') !important;
	background-repeat: repeat;

}